

<!--How to set HTML5 Video Autoplay-->

<!DOCTYPE html>
<html>
<body>

<h1>The End! Thank you very much for your interest in my web app! :-) </h1>

<video width="600" height="600" controls autoplay, controls loop>
  <source src="..\\static\\video\\moonwalk.mp4" type="video/mp4">
  <!--<source src="movie.ogg" type="video/ogg">-->
  Your browser does not support the video tag.
</video>

<form method="get">
    <br>
    <button name="Next" formaction="/select_patient" type="submit">Back to select another patient!</button>
    
</form> 

<form method="get">
    <br>
    <button name="Next" formaction="/stafflogin" type="submit">Back to Staff Login!</button>
    
</form> 


</body>
</html>